<% content_for(:title) do %>
Restaurants
<% end %>

<div class="banner">
	<div class="banner-content">
		<div class="padding">

			<h1>Restaurants</h1>
			<br>

			<ul>
				<% @restaurants.each do |restaurant| %>
				<li><%=link_to restaurant.name, restaurant_path(restaurant) %> <br>
				</li>
				<br>
				<%end%>

			</ul>
		</div>
	</div>
</div>