<h1>Restaurants</h1>

<%= link_to 'New restaurant', new_restaurant_path %>
<br><br>

<ol>
	<% @restaurants.each do |restaurant| %>
	<li><%= "name: " %> <%=link_to restaurant.name, restaurant_path(restaurant) %> <br>
	</li>
	<br>
	<%end%>

</ol>

