<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to "Home", "/"  %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <%= link_to "Add new restaurant", new_restaurant_path, { class: "navbar-wagon-item navbar-wagon-button btn" }%>  
    </div>

</div>